.myhouse_basicmess_wrap{
	background-color: $ajk_backColor;
	height:100%;
	.wrap{
		background-color:#fff;
		padding: 0 px2rem(30);
		border-bottom: 1px solid $ajk_borderColor;
		p{
			border-bottom: 1px solid $ajk_borderColor;
			&:last-child{
				border-bottom:none;
			}
			span{
			  line-height:px2rem(100);
			  @include font-dpr(15px);	
			  display: inline-block;
			  &:first-child{
			  	color: #ababab;
			  	width: px2rem(300);
			  }
			}

		}
	}
}